# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
venv


# testing
/coverage

# production
/build
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__pychache__
npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/GPATH
backend/GRTAGS
backend/GTAGS

#cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
