

.PrimaryPanel {
    box-sizing: border-box;
    text-align: center;
    width: 20%;
    /* background-color: var(--bground); */
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.Tab {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: var(--bground); */
    height: 100%;
    overflow:scroll;
    
  }

.PointContainer {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    /* background-color: var(--bground); */
    flex-direction: column;
    width: 100%;
}

.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: var(--bground); */
}

.PathPoint {
    padding: 1%;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background:var(--bground); */
}

.ConstraintContainer {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    /* background-color: var(--bground); */
    flex-direction: column;
}

.Constraint {
    padding: 1%;
}

.HeaderOption{
    height: 48px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    color: #6b7580;
    padding: 0;
    /* background-color: #edeb5a; */
    text-decoration: none;
    width: 33.33%;
    position: relative;
    margin: 0;
}

.HeaderOption.active {
    color: #fff;
    background: #29ac07;
    position: relative;
}

.HeaderOption:hover {background-color: #3e8e41}


.ImportContainer {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    /* background-color: var(--bground); */
    flex-direction: column;
}

.Import {
    padding: 1%;
}

.ExportContainer {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    /* background-color: var(--bground); */
    flex-direction: column;
}

.Export {
    padding: 1%;
}

.SearchContainer {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    /* background-color: var(--bground); */
    flex-direction: column;
}





  