

.PrimaryPanel {
    box-sizing: border-box;
    text-align: center;
    width: 420px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.Tab {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow:auto;
    
  }

.PointContainer {
    margin-top: 30px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.PathPoint {
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    width: 360px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.PathPoint Button {
    width: 50px;
    height: 40px;
}

.Profile {
    margin-top: 30px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.ProfileProperty {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

.GreenButton {
    background-color: yellowgreen;
    box-sizing: border-box;
    border-color: yellowgreen;
    color:dimgray;
    outline: none;
    box-shadow:none
}

.GreenButton:focus {
    background-color: yellowgreen;
    border-color: yellowgreen;
    color: dimgray;
    outline: none;
    box-shadow:none
}

.GreenButton:hover {
    background-color: #29ac07;
    color: dimgray;
    outline: none;
    box-shadow:none
}

.GreenButton:active {
    background-color:coral;
    outline: none;
}

.Label {
    color: dimgray;
}

.HeaderOption{
    height: 48px;
    padding: 5px;
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box;
    border: none;
    padding: 0;
    text-decoration: none;
    width: 140px;
    position: relative;
    margin: 0;
}

.ImportContainer {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.ExportContainer {
    margin-top: 30px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.SearchContainer {
    margin-top: 30px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}





  