.SearchInput {
    /* padding: 5px; */
    /* display: flex; */
    /* flex-direction: row; */
    /* box-sizing: border-box; */
    width: 300px;
    /* max-width: 300px; */
}

.SearchContainer > .SearchInput {
    margin-left: auto;
    margin-right: auto;
}
